<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/Top"></div>
<div id="content">
    <h2 align="center" class="Title">My Orders</h2>

    <table align="center">
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total Price</th>
        </tr>
        <tr th:each="order:${orderList}">
            <td>
                <a th:href="@{/order/viewOrder(orderId=${order.orderId})}"
                    th:text="${order.orderId}"></a>
            </td>
            <td th:text="${order.orderDate}"></td>
            <td><label th:text="${#numbers.formatDecimal(order.totalPrice,1,2)}"/></td>
        </tr>
    </table>
</div>
<div th:replace="common/Bottom"></div>
</body>
</html>