<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/Top"></div>
<div id="content">
    <div id="Catalog">
        <form action="/account/signOn" method="post">
            <p>Please enter your username and password.</p>
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td>Verification code:</td>
                    <td><img id="imageCode" th:onclick="'javascript:changeImage();'" src="/account/codeServlet"></td>
                </tr>
                <tr>
                    <td>Confirm:</td>
                    <td><input type="text" name="codeWord" /></td>
                </tr>
            </table>
            <b><p th:if="${msg!=null}" th:text="${msg}"> </p></b>
            <input type="submit" value="Login">
        </form>

        Need a user name and password?
        <a href="/account/registerForm">Register Now!</a>
    </div>
</div>
<script type="text/javascript">
    function changeImage() {
        document.getElementById("imageCode").src="/account/codeServlet?time="+new Date().getTime();
    }
</script>
<div th:replace="common/Bottom"></div>
</body>
</html>